<ion-header>
    <ion-toolbar>
        <ion-title class="ion-text-center">Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center conter">
    <div class="container">

        <div class="card">
            <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/4/4a/Usac_logo.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Ingrese su usuario para empezar a utilizar la aplicación</h5>
            </div>
        </div>
    </div>
</ion-content>