<ion-header>
    <ion-toolbar>
        <ion-title>
            <div class="row">
                <div class="col-6">
                    {{tiempo | async}}
                </div>
                <div class="col-6 text-right">
                    <ion-icon name="thermometer"></ion-icon>
                    {{temperatura}}°C

                </div>
            </div>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center texto">
    <ion-item-divider class="mt-3">
        <h4>Estaciones</h4>
    </ion-item-divider>
    <div class="container mt-1">
        <div>
            <button type="button" class="btn btn-primary btn-lg btn-block mt-1" [disabled]="!estacion1" (click)="encenderEstacion1()">Estacion 1</button>
        </div>
        <div>
            <button type="button" class="btn btn-primary btn-lg btn-block mt-1" [disabled]="!estacion2" (click)="encenderEstacion2()">Estacion 2</button>
        </div>
        <div>
            <button type="button" class="btn btn-primary btn-lg btn-block mt-1" [disabled]="!estacion3" (click)="encenderEstacion3()">Estacion 3</button>
        </div>
    </div>


    <ion-item-divider class="mt-3">
        <h4>Cinta Transportadora</h4>
    </ion-item-divider>

    <div class="container mt-1">
        <div>
            <button type="button" class="btn btn-secondary btn-lg btn-block mt-1" (click)="enviarInformacion('A')"><ion-icon name="sync"></ion-icon>Cinta Transportadora</button>
        </div>
    </div>


    <ion-item-divider class="mt-3">
        <h4>Emergencia</h4>
    </ion-item-divider>
    <div class="container mt-1">

        <div>
            <button type="button" class="btn btn-warning btn-lg btn-block mt-1" (click)="salir()"><ion-icon name="warning"></ion-icon>Emergencia</button>
        </div>
    </div>

    <ion-item-divider class="mt-3">
        <h4>Aceptar</h4>
    </ion-item-divider>
    <div class="container mt-1">
        <div>
            <button type="button" class="btn btn-success btn-lg btn-block mt-1" (click)="salir()" [disabled]="!btnAceptar"><ion-icon name="checkmark-circle"></ion-icon>Aceptar</button>
        </div>
    </div>


    <ion-item-divider class="mt-3">
        <h5>Desconectar bluetooth</h5>
    </ion-item-divider>
    <div class="mt-3 mb-4">
        <button type="button" class="btn btn-danger btn-lg btn-block mt-3 mb-3" (click)="desconectar()"> <ion-icon name="log-out"></ion-icon>Desconectar</button>
    </div>


    <ion-item-divider class="mt-3">
        <h5 class="text-center">{{info}}</h5>
    </ion-item-divider>

</ion-content>