<ion-header>
    <ion-toolbar>
        <ion-title class="ion-text-center">
            Bienvenido Aplicacion Grupo 9
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container">

        <div class="container" *ngIf="conectado == false">
            <button type="button" class="btn btn-primary btn-lg btn-block mt-3" (click)="activarBluetooth()">
                <ion-icon name="bluetooth"></ion-icon> Buscar Dispositivos
            </button>
        </div>

        <ul class="list-group mt-3" *ngIf="conectado == true">
            <li class="list-group-item" *ngFor="let dispositivo of dispositivos" (click)="conectar(dispositivo.address)">
                <div class="col-12">
                    {{dispositivo.name || 'Unnamed'}} <br> {{dispositivo.id}}
                </div>
            </li>
        </ul>

    </div>


</ion-content>