<ion-header>
    <ion-toolbar>
        <ion-title class="ion-text-center">
            Bienvenido Aplicacion Grupo 9
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container">

        <div class="container" *ngIf="conectado == false">
            <button type="button" class="btn btn-primary btn-lg btn-block mt-3" (click)="activarBluetooth()">
                <ion-icon name="bluetooth"></ion-icon> Buscar Dispositivos
            </button>
        </div>

        <ul class="list-group mt-3" *ngIf="conectado == true">
            <li class="list-group-item" *ngFor="let dispositivo of dispositivos" (click)="conectar(dispositivo.address)">
                <div class="col-12">
                    {{dispositivo.name || 'Unnamed'}} <br> {{dispositivo.id}}
                </div>
            </li>
        </ul>

    </div>


</ion-content>

<footer class="bg-light text-center text-lg-start">
    <div class="text-center p-3 text-primary" style="background-color: rgba(235, 239, 240, 0.445); font-weight: bold;">
        © 2021 Copyright: Rafael Cóbar - Proyecto 1- Arqui 1
    </div>
</footer>