<ion-header>
    <ion-toolbar>
        <ion-title class="ion-text-center">CrearMatriz</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center texto">

    <div>
        <ion-button (click)="enviarInformacion('A')">
            <p>A</p>
        </ion-button>
        <ion-button (click)="enviarInformacion('B')">
            <p>B</p>
        </ion-button>
        <ion-button (click)="enviarInformacion('C')">
            <p>C</p>
        </ion-button>
        <ion-button (click)="enviarInformacion('D')">
            <p>D</p>
        </ion-button>
        <ion-button (click)="enviarInformacion('E')">
            <p>E</p>
        </ion-button>
        <ion-button (click)="enviarInformacion('F')">
            <p>F</p>
        </ion-button>
        <ion-button (click)="enviarInformacion('G')">
            <p>G</p>
        </ion-button>
        <ion-button (click)="enviarInformacion('H')">
            <p>H</p>
        </ion-button>
    </div>

    <div>
        <ion-button (click)="enviarInformacion('I')">
            <p>I</p>
        </ion-button>
        <ion-button (click)="enviarInformacion('J')">
            <p>J</p>
        </ion-button>
        <ion-button (click)="enviarInformacion('K')">
            <p>K</p>
        </ion-button>
        <ion-button (click)="enviarInformacion('L')">
            <p>L</p>
        </ion-button>
        <ion-button (click)="enviarInformacion('M')">
            <p>M</p>
        </ion-button>
        <ion-button (click)="enviarInformacion('N')">
            <p>N</p>
        </ion-button>
        <ion-button (click)="enviarInformacion('O')">
            <p>O</p>
        </ion-button>
        <ion-button (click)="enviarInformacion('P')">
            <p>P</p>
        </ion-button>
    </div>

    <div>
        <ion-button (click)="enviarInformacion('Q')">
            <p>Q</p>
        </ion-button>
        <ion-button (click)="enviarInformacion('R')">
            <p>R</p>
        </ion-button>
        <ion-button (click)="enviarInformacion('S')">
            <p>S</p>
        </ion-button>
        <ion-button (click)="enviarInformacion('T')">
            <p>T</p>
        </ion-button>
        <ion-button (click)="enviarInformacion('U')">
            <p>U</p>
        </ion-button>
        <ion-button (click)="enviarInformacion('V')">
            <p>V</p>
        </ion-button>
        <ion-button (click)="enviarInformacion('W')">
            <p>W</p>
        </ion-button>
        <ion-button (click)="enviarInformacion('X')">
            <p>X</p>
        </ion-button>
    </div>

    <div>
        <ion-button (click)="enviarInformacion('Y')">
            <p>Y</p>
        </ion-button>
        <ion-button (click)="enviarInformacion('Z')">
            <p>Z</p>
        </ion-button>
        <ion-button (click)="enviarInformacion('a')">
            <p>a</p>
        </ion-button>
        <ion-button (click)="enviarInformacion('b')">
            <p>b</p>
        </ion-button>
        <ion-button (click)="enviarInformacion('c')">
            <p>c</p>
        </ion-button>
        <ion-button (click)="enviarInformacion('d')">
            <p>d</p>
        </ion-button>
        <ion-button (click)="enviarInformacion('e')">
            <p>e</p>
        </ion-button>
        <ion-button (click)="enviarInformacion('f')">
            <p>f</p>
        </ion-button>
    </div>

    <div>
        <ion-button (click)="enviarInformacion('g')">
            <p>g</p>
        </ion-button>
        <ion-button (click)="enviarInformacion('h')">
            <p>h</p>
        </ion-button>
        <ion-button (click)="enviarInformacion('i')">
            <p>i</p>
        </ion-button>
        <ion-button (click)="enviarInformacion('j')">
            <p>j</p>
        </ion-button>
        <ion-button (click)="enviarInformacion('k')">
            <p>k</p>
        </ion-button>
        <ion-button (click)="enviarInformacion('l')">
            <p>l</p>
        </ion-button>
        <ion-button (click)="enviarInformacion('m')">
            <p>m</p>
        </ion-button>
        <ion-button (click)="enviarInformacion('n')">
            <p>n</p>
        </ion-button>
    </div>

    <div>
        <ion-button (click)="enviarInformacion('o')">
            <p>o</p>
        </ion-button>
        <ion-button (click)="enviarInformacion('p')">
            <p>p</p>
        </ion-button>
        <ion-button (click)="enviarInformacion('q')">
            <p>q</p>
        </ion-button>
        <ion-button (click)="enviarInformacion('r')">
            <p>r</p>
        </ion-button>
        <ion-button (click)="enviarInformacion('s')">
            <p>s</p>
        </ion-button>
        <ion-button (click)="enviarInformacion('t')">
            <p>t</p>
        </ion-button>
        <ion-button (click)="enviarInformacion('u')">
            <p>u</p>
        </ion-button>
        <ion-button (click)="enviarInformacion('v')">
            <p>v</p>
        </ion-button>
    </div>

    <div>
        <ion-button (click)="enviarInformacion('w')">
            <p>w</p>
        </ion-button>
        <ion-button (click)="enviarInformacion('x')">
            <p>x</p>
        </ion-button>
        <ion-button (click)="enviarInformacion('y')">
            <p>y</p>
        </ion-button>
        <ion-button (click)="enviarInformacion('z')">
            <p>z</p>
        </ion-button>
        <ion-button (click)="enviarInformacion('0')">
            <p>0</p>
        </ion-button>
        <ion-button (click)="enviarInformacion('1')">
            <p>1</p>
        </ion-button>
        <ion-button (click)="enviarInformacion('2')">
            <p>2</p>
        </ion-button>
        <ion-button (click)="enviarInformacion('3')">
            <p>3</p>
        </ion-button>
    </div>

    <div>
        <ion-button (click)="enviarInformacion('4')">
            <p>4</p>
        </ion-button>
        <ion-button (click)="enviarInformacion('5')">
            <p>5</p>
        </ion-button>
        <ion-button (click)="enviarInformacion('6')">
            <p>6</p>
        </ion-button>
        <ion-button (click)="enviarInformacion('7')">
            <p>7</p>
        </ion-button>
        <ion-button (click)="enviarInformacion('8')">
            <p>8</p>
        </ion-button>
        <ion-button (click)="enviarInformacion('9')">
            <p>9</p>
        </ion-button>
        <ion-button (click)="enviarInformacion('+')">
            <p>+</p>
        </ion-button>
        <ion-button (click)="enviarInformacion('-')">
            <p>-</p>
        </ion-button>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
            </tr>
        </tbody>
    </table>

    <div>
        <button type="button" class="btn btn-primary btn-lg btn-block mt-3">Iniciar</button>
    </div>
    <div>
        <button type="button" class="btn btn-danger btn-lg btn-block mt-3 mb-3" (click)="desconectar()">Desconectar</button>
    </div>


</ion-content>